

<div class="pothole-table">
	<div class="pothole-table-header">
		<div class="pid">Location</div>
		<div class="priority">Priority</div>
		<div class="age">Age</div>
		<div class="estimate">Estimate</div>
	</div>
	<div class="pothole collapsed">
		<div class="pid">15 North Ave</div>
		<div class="priority">Low</div>
		<div class="age">12 days</div>
		<div class="estimate">$1900</div>
	</div>
	<div class="pothole collapsed">
		<div class="pid">2180 5th Street</div>
		<div class="priority">Medium</div>
		<div class="age">6 days</div>
		<div class="estimate">$2500</div>
	</div>
	<div class="pothole collapsed">
		<div class="pid">800 Spring Street</div>
		<div class="priority">Low</div>
		<div class="age">11 days</div>
		<div class="estimate">$1200</div>
	</div>
	<div class="pothole collapsed">
		<div class="pid">I-85 at GA 400</div>
		<div class="priority">High</div>
		<div class="age">3 days</div>
		<div class="estimate">$20000</div>
	</div>
	<div class="pothole collapsed">
		<div class="pid">520 Glen Iris</div>
		<div class="priority">Low</div>
		<div class="age">18 days</div>
		<div class="estimate">$800</div>
	</div>
</div>